p{
    color: red;
    height: auto;
    width: 20px;
    text-align: center;
    background-color: yellowgreen;
    border-radius: 20px;
}
h1{
    color: green;
    height: auto;
    width: 20px;
    text-align: center;
    background-color: yellowgreen;
    border-radius: 20px;
}